[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
matplotlib = "*"
cogapp = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
main = "python3.9 main.py "
getdata ="python3.9 getData.py"
modify ="cog -r report.md"
